---
permalink: /hoodies
title: "Hoodies"
layout: default
has_include: true
---

<h1 class="text-center">Customise your CompSoc hoodie!</h1>

<style>
    .hoodie-images svg {
        max-height: 200px;
    }

    #himg-logo > svg {
        max-width: 250px;
        display: block;
        margin: auto;
        padding: 20px;
        margin-bottom: 20px;
    }
</style>

<form id="hoodie-configurator">
    <div class="row">   
        <div class="col-md-5 order-md-2 hoodies">
            <h4>Preview</h4>
            <div class="hoodie-images">
                <span id="himg-logo">
                    {% include hoodies/logo.svg %}
                </span>
                <span id="himg-zoodie">
                    {% include hoodies/zip.svg %}
                </span>
                <span id="himg-college">
                    {% include hoodies/front.svg %}
                </span>
                {% include hoodies/back.svg %}
            </div>
            <div class="text-center">
                <a href="" target="_blank" class="btn btn-info supplier-url-no-text">View on supplier's website</a>
            </div>
        </div>

        <div class="col-md-7">
            <h4>Customise</h4>
            <div class="form-group row">
                <label class="col-md-4">Hoodie type</label>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input checked class="form-check-input" type="radio" name="hoodie-type" value="college">
                            Regular hoodie
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="hoodie-type" value="zoodie">
                            Zipped hoodie
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4">Logo position</label>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input checked class="form-check-input" type="radio" name="logo-pos" value="embroidered">
                            Left breast embroidery
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="logo-pos" value="printed">
                            Front print
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4">Size type</label>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input checked class="form-check-input" type="radio" name="size-type" value="unisex">
                            Unisex
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="size-type" value="womens">
                            Womens
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="hoodie-code" class="col-md-4">Hoodie code</label>
                <div class="col-sm-8">
                    <div class="form-group">
                        <a href="" class="supplier-url" target="_blank" style="font-weight: bold"></a>
                        <input readonly hidden class="form-control-plaintext" type="text" name="hoodie-code" value="ok">
                    </div>
                </div>
            </div>

            <div class="form-group row" id="colorform-unisex-nozip">
                <label class="col-md-4 col-form-label">Size</label>
                <div class="col-sm-8">
                    <select name="hoodie-size" class="form-control">
                        <option id="option-size-xs">XS</option>
                        <option id="option-size-s">S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                    </select>
                    <small class="form-text text-muted">
                        If you would like a size not listed here, but listed on the above page, please send us an email.
                    </small>
                </div>
            </div>

            <div class="form-group row" id="colorform-unisex-nozip">
                <label class="col-md-4 col-form-label">Hoodie colour</label>
                <div class="col-sm-8">
                    <select name="hoodie-color" class="form-control">
                        <!-- Autopopulated -->
                    </select>
                    <small class="form-text text-muted">
                            View supplier website for true representation of colour. Colours may be different IRL.
                    </small>
                </div>
            </div>

            <div class="form-group row" id="colorform-unisex-nozip">
                <label class="col-md-4 col-form-label">Logo colour</label>
                <div class="col-sm-8">
                    <select name="logo-color" class="form-control">
                        <option value="Mono">Black with white filled</option>
                        <option value="Regular">Black and red</option>
                        <option value="Inverse" >Inverse (white and red)</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4">Back print colour</label>
                <div class="col-sm-8">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input checked class="form-check-input" type="radio" name="print-color" value="black">
                            Black
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="print-color" value="white">
                            White
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 col-form-label">Name on back</label>
                <div class="col-sm-8">
                    <input type="text" name="print-name" class="form-control" placeholder="(optional)">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h4>Price</h4>                        
                </div>
                <div class="col-sm-8">
                    <h3 name="hoodie-price">£xx.xx</h3>     
                    <h6>or <span name="hoodie-price-discounted">£xx.xx</span> with <span style="text-decoration: underline dotted;" data-toggle="tooltip" title="" data-placement="right" data-original-title="Members registered before 12th November 2017 are eligible to receive a coupon code.">coupon code</span></h6>           
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" id="purchaseStartPanel">
    <div class="col-md-5 offset-md-1 text-center">
        <h2 class="pt-4 pb-2">Looking good! :)</h4>
        <button class="btn btn-primary btn-lg btn-block" type="button" onClick="loadPurchaseDetailsPanel()">Buy your hoodie!</button>
        <small class="form-text text-muted"></small>
    </div>
</div>
<div class="row" id="purchaseDetailsPanel" style="display: none">
        <div class="col">
            <h4 class="pt-4">Your Details</h4>
            <p>Let's grab some details from you before we pass you to Stripe.</p>
            <form>
                <div class="form-group row">
                        <label for="purchaser-name" class="col-md-4 col-form-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="purchaser-name" placeholder="Namey McNameface">                        
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <p class="form-text">Have a coupon code? Enter it here for juicy discounts.</p>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="discount-code" placeholder="Discount code">                    
                        </div>
                        <div class="col alert alert-light" role="alert" name="discount-alert" style="display: none">
                            <!-- Placeholder content -->
                        </div>
                        <small class="col form-text text-muted">
                            Members registered before 12th November 2017 are eligible to receive a discount code. Codes are
                            non-transferrable and tied to your email address.
                        </small>            
                    </div>
            
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <button type="button" class="btn btn-primary btn-lg" onClick="startCheckout()">Let's go!</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    <div class="row" id="purchaseStripeCalledPanel" style="display: none">
        <p>Hang on a sec. We're just launching the Stripe payment flow to grab your card details. Want to reset this form? <a onclick="loadPurchaseDetailsPanel()">Click here</a>.</p>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js" integrity="sha384-8WfvGT4Eaax9aydJKPwo8urxfPKf0rvWe9FwoNxz4kD1iG9upxs9667qzL1AK4Lk" crossorigin="anonymous"></script>
