---
permalink: /infball
title: "Informatics Ball"
layout: default
has_include: true
---
{% capture infball_payment %}true{% endcapture %}

{% include infball/head.html infball_payment=infball_payment %}

<div class="row justify-content-center mt-4">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <strike>Frequently</strike> Asked Questions
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>
                        How much does it cost?
                    </strong>
                    <div>It's £40 for everyone.</div>
                </li>
                <li class="list-group-item">
                    <strong>Can I buy tickets for friends?</strong>
                    <div>
                        Yes, make sure you provide their details for anything other than payments, not your own.
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>Can I pay by cash?</strong>
                    <div>
                        Unfortunately not, but you can ask a friend to buy one for you.
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>I'm under 18. Can I come too?</strong>
                    <div>
                        Unfortunately The Jam House does not permit Under 18s on the premises. Please email us if you would
                        like to discuss this further.
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>What's the dress code?</strong>
                    <div>
                        Wear something formal! Maybe one day we will have a black tie hackathon.
                    </div>
                </li>
                <li class="list-group-item">
                    <strong>What do I do if my question isn't here?</strong>
                    <div>
                        Get in touch at <a href="mailto:infball@comp-soc.com">infball@comp-soc.com</a>.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-lg-8">
        <form class='card' id="payment-form">
            <div class="card-header">
                Buy Ticket
            </div>
            <div class="card-body">
                {% include infball/form.html infball_payment=infball_payment %}
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="processingModal" tabindex="-1" data-keyboard=false data-backdrop=static role="dialog" aria-labelledby="processingModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title payment-success" id="processingModalTitle">Payment processing...</h5>
            </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center">
                <h1 class="text-center pt-4">
                    <i id="infball-loading" class="fa fa-circle-o-notch fa-spin float-right"></i>
                </h1>
                <p class="pt-4">
                    Hold on, we're processing your order...
                </p>
            </div>
            <div class="modal-footer justify-content-center">
                <span>CompSoc &hearts; You!</span>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" data-keyboard=false data-backdrop=static role="dialog" aria-labelledby="paymentModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title payment-success" id="paymentModalTitle">Payment successful</h5>
            </div>
            <div class="modal-body">
                <div id="success-icon" class="d-flex justify-content-center mb-4">
                    <svg width="84px" height="84px" viewBox="0 0 84 84" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <circle class="border" cx="42" cy="42" r="40" stroke-linecap="round" stroke-width="4" stroke="#000" fill="none"></circle>
                        <path class="checkmark" stroke-linecap="round" stroke-linejoin="round" d="M23.375 42.5488281 36.8840688 56.0578969 64.891932 28.0500338" stroke-width="4" stroke="#000" fill="none"></path>
                    </svg>
                </div>
                
                <p>
                    Don't forget to mark yourself as going on <a href="https://www.facebook.com/events/159020784641554/?ref=br_rs">the Facebook event</a>.
                </p>
                <p>
                    Drop <a href="mailto:infball@comp-soc.com">infball@comp-soc.com</a> an email if you have any <code class="text-dark" style="font-size: inherit;">queries</code>.
                </p>
                <p>
                    See you in April!
                </p>
            </div>
            <div class="modal-footer justify-content-between">
                <span>CompSoc &hearts; You!</span>
                <div>
                    <a href="" class="btn btn-secondary">Start over</a>
                    <a href="" id="infball-ticket-button" class="btn btn-primary">View your ticket</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .payment-wrapper .container {
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        padding: 3px;
    }

    .payment-wrapper fieldset {
        border-style: none;
        padding: 5px;
        margin-left: -5px;
        margin-right: -5px;
        background: rgba(18, 91, 152, 0.05);
        border-radius: 8px;
    }

    .payment-wrapper fieldset legend {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 13px;
        color: #8898aa;
        padding: 3px 10px 7px;
    }

    .payment-wrapper fieldset legend + * {
        clear: both;
    }

    .payment-wrapper input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border-style: none;
        /* color: #fff; */
    }

    .payment-wrapper input:-webkit-autofill {
        transition: background-color 100000000s;
        -webkit-animation: 1ms void-animation-out;
    }

    .payment-wrapper #payment-card {
        padding: 10px;
    }

    .payment-wrapper input {
        -webkit-animation: 1ms void-animation-out;
    }

    .payment-wrapper input::-webkit-input-placeholder {
        color: #9bacc8;
    }

    .payment-wrapper input::-moz-placeholder {
        color: #9bacc8;
    }

    .payment-wrapper input:-ms-input-placeholder {
        color: #9bacc8;
    }

    #success-icon .border {
        stroke: #ffc7ee;
    }

    #success-icon .checkmark {
        stroke: #d782d9;
    }
</style>
