---
title: "The Team"
# Note that you may also need to edit the above include
---

<p>We are the team that brings you the best experience in all things Informatics.</p>

<p>{% include snippets/join-us.html %}</p>

{% assign committee = site.data.committee | sort | reverse %}

<small>
	<p id="cohorts" class="nav nav-pills mb-0" role="tablist">
		View committees from other years:&nbsp;
		{% for cohort in committee %}{% if cohort.year %}
			{% unless forloop.first %}&nbsp;&middot;&nbsp;{% endunless %}
			<a
					data-toggle="pill"
					role="pill"
					href="#cohort-{{ cohort.year | slugify }}"
					{% if committee[0] == cohort %}
					class="active"
					aria-expanded="true"
					{% endif %}
			>{{ cohort.year | slice: 0, 4 }}</a>
		{% endif %}{% endfor %}
	</p>
</small>

<div class="row">
	<div class="col">
		<div class="tab-content">
			{% for cohort in committee %}{% if cohort.year %}
				<div
					class="tab-pane fade {% if committee[0] == cohort %}show active{% endif %}"
					id="cohort-{{ cohort.year | slugify }}"
					role="tabpanel"
				>

				{% if committee[0] == cohort %}
					<small><p class="mb-0 mt-2">
						Skip to:&nbsp;
						{% for team in committee.first.teams %}
							{% if forloop.first %}
								<a href="#compsoc-committee">CompSoc Committee</a>
							{% else %}
								&nbsp;&middot;&nbsp;
								<a
									href="#{{ team.name | slugify }}"
								>{{ team.name }}</a>
							{% endif %}
						{% endfor %}
					</p></small>
				{% endif %}

				{% for team in cohort.teams %}
					<div class="mb-4 mt-3 d-flex flex-column align-items-center align-items-md-start" {% if team.name %} id="{{ team.name | slugify }}" {% else %} id="compsoc-committee" {% endif %}>
						<div class="d-flex">
							<h4 class="mb-0 font-weight-bold">
								{% if forloop.first %}
									{{ cohort.year }} CompSoc Committee
								{% else %}
									{{ team.name }}
								{% endif %}
							</h4>
							{% if forloop.first %}
								<span class="pl-3">
									{% if cohort.annual_report %}
									<a class="btn btn-sm btn-outline-danger" href="https://github.com/compsoc-edinburgh/annual-reports/blob/master/{{ cohort.year | slugify }}.pdf">Annual Report</a>
									{% endif %}
								</span>
							{% endif %}
						</div>

						<div class="d-flex flex-column align-items-baseline">
							{% for member in team.members %}
								<span class='d-flex justify-content-center justify-content-md-start mt-3'>
									{% if member.img %}
										<img src="/static/img/team/{{ member.img }}" width=100 height=100 class="team-avatar" alt="{{ member.name }}">
									{% else %}
										{% capture dummy-img %}{% cycle 'vintage-concrete.png', 'sakura.png', 'cloudy-day.png', 'sativa.png' %}{% endcapture %}
										<img src="/static/img/pattern-{{ dummy-img }}" width=100 height=100 class="team-avatar" alt="{{ member.name }}">
									{% endif %}
									<div class="d-flex flex-column ml-4 justify-content-center">
										<h5 class="card-title"><strong>{{ member.role }}</strong></h5>
										<p class="card-text">
											{{ member.name }}
											{% if member.url %}<a class="fa fa-globe text-dark" href="{{ member.url }}"></a>{% endif %}
										</p>
									</div>
								</span>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				</div>
			{% endif %}{% endfor %}
		</div>
	</div>
</div>
