---
title: "The Team"
# Note that you may also need to edit the above include
---

<p>We are the team that brings you the best experience in all things Informatics.</p>

<p>{% include snippets/join-us.html %}</p>

{% assign committee = site.data.committee | sort | reverse %}

<style>
	#cohorts > .active {
		color: #868e96;
	}
</style>

<div class="row">
	<div class="col">
		<p id="cohorts" class="nav nav-pills" role="tablist">
			View committees from other years:&nbsp;
			{% for cohort in committee %}{% if cohort.year %}
				{% unless forloop.first %}&nbsp;&middot;&nbsp;{% endunless %}
				<a
						data-toggle="pill"
						role="pill"
						href="#cohort-{{ cohort.year | slugify }}"
						{% if committee[0] == cohort %}
						class="active"
						aria-expanded="true"
						{% endif %}
				>{{ cohort.year | slice: 0, 4 }}</a>
			{% endif %}{% endfor %}
		</p>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="tab-content">
		{% for cohort in committee %}
			{% if cohort.year %}
			<div
				class="tab-pane fade {% if committee[0] == cohort %}show active{% endif %}"
				id="cohort-{{ cohort.year | slugify }}"
				role="tabpanel"
			>
			<div>
				<div class="d-flex justify-content-between mb-2">
					<h4 class="mb-0">{{ cohort.year }}</h4>
					<span>
						<!--<a class="btn disabled btn-sm btn-outline-danger" href="#">Financial Report</a>-->
						{% if cohort.annual_report %}
						<a class="btn btn-sm btn-outline-danger" href="https://github.com/compsoc-edinburgh/annual-reports/blob/master/{{ cohort.year | slugify }}.pdf">Annual Report</a>
						{% endif %}
					</span>
				</div>
				{% for member in cohort.members %}
					<div class="card" class="">
						<strong>{{ member.role }}</strong>
						<span>
							{% if member.url %}
								<a href="{{ member.url }}">{{ member.name }}</a>
							{% else %}
								{{ member.name }}
							{% endif %}
						</span>
					</div>
				{% endfor %}
			</div>
			</div>
			{% endif %}
		{% endfor %}
		</div>
	</div>
</div>
