{% assign author = site.data.authors[post.author] %}
{% capture url %}{{ site.baseurl }}{{ post.url }}{% endcapture %}

<div class="mt-4">
    <h2 class="card-title mb-0">
        <a href="{{ url }}" class="text-body">{{ post.title }}</a>
    </h2>
    <small>
        <a href="{{ author.uri }}" class="text-info">{{ author.name }}</a>
        <span class="text-muted"> | </span>
        <a href="{{ url }}" class="text-info">{{ post.date | date_to_string }}</a>
    </small>
    <p class="card-text">
        {{ post.excerpt }}

        <a href="{{ url }}" class="btn btn-outline-primary">Read on &raquo;</a>
    </p>
</div>

<hr />
