{% if page.footer_image %}
    <div class="footer-image" style="background-image: url('{{ site.baseurl }}/static/img/footers/{{ page.footer_image }}')">
        <!-- nothing needs to be here -->
    </div>
{% endif %}

<footer class="footer">
    <div class="container">
        <span class="text-muted" style="vertical-align: middle">CompSoc Edinburgh <span class="heart">♥</span> You</span>
        <a class="float-right" href="https://github.com/compsoc-edinburgh/website2017">
            <img src="{{ site.baseurl }}/static/img/mark-github.svg">
        </a>
    </div>
</footer>
