
{% if page.layout == "post" %}
    {% capture seo_description %}{{ page.excerpt | strip_html | rstrip }}{% endcapture %}
{% elsif page.description %}
    {% capture seo_description %}{{ page.description | rstrip }}{% endcapture %}
{% else %}
    {% capture seo_description %}{{ site.description }}{% endcapture %}
{% endif %}

{% if page.preview_image %}
    {% capture seo_image %}{{ page.preview_image }}{% endcapture %}
    {% capture seo_twitter_card %}summary_large_image{% endcapture %}
{% else %}
    {% capture seo_image %}{{ site.url }}/static/img/compsoc-profile-white-fill.png{% endcapture %}
    {% capture seo_twitter_card %}summary{% endcapture %}
{% endif %}

{% capture seo_title %}{% if (page.title != "Index") %}{{ page.title }} - {% endif %}CompSoc Edinburgh{% endcapture %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ seo_description }}">

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:title" content="{{ seo_title }}" />
    <meta property="og:type" content="website" />

    <meta property="og:description" content="{{ seo_description }}" />
    <meta property="og:image" content="{{ seo_image }}" />

    <meta property="twitter:card" content="{{ seo_twitter_card }}" />
    <meta property="twitter:site" content="@compsoc" />
    <meta property="twitter:title" content="{{ seo_title }}" />
    <meta property="twitter:description" content="{{ seo_description }}" />
    <meta property="twitter:image" content="{{ seo_image }}" />

    {% if page.redirect %}
    <meta http-equiv="refresh" content="0; url={{ page.redirect }}">
    {% endif %}
    
    <link rel="icon" href="{{ site.baseurl }}/static/img/compsoc-icon.png" type="image/png">

    <title>{{ seo_title }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/static/css/main.css?time='{{site.time}}'" rel="stylesheet">

    <!-- Page specific CSS -->
    {% if page.custom_css %}
        {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/{{ stylesheet }}.css" media="screen" type="text/css">
        {% endfor %}
    {% endif %}

</head>
