<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{ site.description }}">

    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="CompSoc Edinburgh" />
    <meta property="og:description" content="{{ site.description }}" />
    <!-- <meta property="og:image" content="{{ site.url }}/static/img/compsoc-preview.png" /> -->
    
    <link rel="icon" href="{{ site.baseurl }}/static/compsoc-icon.png" type="image/png">

    {% capture title %}{% if page.short-title %}{{ page.short-title }}{% else %}{{ page.title }}{% endif %}{% endcapture %}

    <title>{% if (title != "") and (title != nil) %}{{ title }} - {% endif %}CompSoc Edinburgh</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- Custom CSS -->
    <!-- <link href="{{ site.baseurl }}/static/css/main.css?time='{{site.time}}'" rel="stylesheet"> -->

</head>
