<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container justify-content-center justify-content-sm-between">
        {% if page.url != "/" %}
            {% assign navbar-class = "navbar-toggler-with-logo" %}
        {% endif %}

        {% if page.url == "/" %}
            {% assign navbar-wrapper-class = "navbar-wrapper-home" %}
        {% endif %}

        <div class="navbar-wrapper {{ navbar-wrapper-class }}">
            <button class="navbar-toggler {{ navbar-class }}" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% if page.url != "/" %}
            <div class="navbar-brand-wrapper">
                <a class="navbar-brand" href="{{ site.baseurl }}/">
                    <img src="{{ site.baseurl }}/static/img/compsoc-horizontal.svg" alt="CompSoc Edinburgh Logo" class="pl-1 pl-sm-0">
                </a>
            </div>
            {% endif %}
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if page.url == "/" %}
            <div class="container d-block">
            {% endif %}
            <ul class="navbar-nav mr-auto justify-content-center">
                <!-- This needs to support absolute urls, and not just relative ones -->
                {% for item in site.data.navigation %}
                    {% capture urlPrefix %}{{ item.url | slice: 0, 4 }}{% endcapture %}
                    {% if urlPrefix == "http" %}
                        {% capture url %}{{ item.url }}{% endcapture %}
                    {% else %}
                        {% capture url %}{{ site.baseurl }}{{ item.url }}{% endcapture %}
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link {% if item.url == page.url %}active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{ isAbsolute }} {{ item.text }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% if page.url == "/" %}
            </div>
            {% endif %}
        </div>
    </div>
</nav>

{% if page.url != "/" %}<hr>{% endif %}
