<nav class="navbar navbar-toggleable-md navbar-light">
    <div class="container">
        <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        {% capture homepage %}{{ site.baseurl }}/{% endcapture %}
        {% if page.url != homepage %}
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/static/img/compsoc-horizontal.svg" height="45" alt="">
        </a>
        {% endif %}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- This needs to support absolute urls, and not just relative ones -->
                {% for item in site.data.navigation %}
                    {% capture urlPrefix %}{{ item.url | slice: 0, 4 }}{% endcapture %}
                    {% if urlPrefix == "http" %}
                        {% capture url %}{{ item.url }}{% endcapture %}
                    {% else %}
                        {% capture url %}{{ site.baseurl }}{{ item.url }}{% endcapture %}
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link {% if item.url == page.url %}active{% endif %}" href="{{ site.baseurl }}{{ item.url }}">{{ isAbsolute }} {{ item.text }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</nav>
