<div class="sigs__grid">
    {% for sig in site.data.sigs %}
        {% if sig.url %}
            {% assign sighref = sig.url %}
        {% else %}
            {% capture sighref %} {{ site.baseurl }}/sigs/{{ sig.slug }} {% endcapture %}
        {% endif %}
    <a href="{{ sighref }}" class="sigs__sig">
        <div class="sigs__sigtext">
            <h1>{{ sig.title }}</h1>
            <p>{{ sig.description }}</p>
        </div>
        {% if sig.image %}
        <picture>
            <source srcset="{{ site.baseurl }}/static/img/sigs/{{ sig.slug }}.webp" type="image/webp"/>
            <source srcset="{{ site.baseurl }}/static/img/sigs/{{ sig.slug }}.png" type="image/png">
            <img src="{{ site.baseurl }}/static/img/sigs/{{ sig.slug }}.png" alt="{{ sig.slug }} Logo" class="sigs__img" style="background-color: {{ sig.colour }}; border-radius: {{ sig.radius }}">
        </picture>
        {% endif %}
    </a>
    {% endfor %}
</div>
