---
---

@import "utils";
@import "rfs";

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Rubik+Glitch&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@300;400&display=swap');

body {
    background-color: #202124;
    background-image: none !important;
    overflow-x: hidden;
    font-family:
        "Tomorrow",
        // Safari for macOS and iOS (San Francisco)
        -apple-system,
        // Chrome < 56 for macOS (San Francisco)
        BlinkMacSystemFont,
        // Windows
        "Segoe UI",
        // Android
        Roboto,
        // Basic web fallback
        "Helvetica Neue", Arial,
        // Linux
        "Noto Sans",
        "Liberation Sans",
        // Sans serif fallback
        sans-serif,
        // Emoji fonts
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.display-1,
.display-3 {
    text-shadow: 0 0 7px #3cce5d;
    color: rgba(255, 255, 255, 0.87);
    font-family:
        "Rubik Glitch",
        "Outfit",
        // Safari for macOS and iOS (San Francisco)
        -apple-system,
        // Chrome < 56 for macOS (San Francisco)
        BlinkMacSystemFont,
        // Windows
        "Segoe UI",
        // Android
        Roboto,
        // Basic web fallback
        "Helvetica Neue", Arial,
        // Linux
        "Noto Sans",
        "Liberation Sans",
        // Sans serif fallback
        sans-serif,
        // Emoji fonts
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.display-1 {
    @include font-size(6rem);
}

.display-3 {
    @include font-size(4.5rem);
}

.navbar-nav .active > .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show > .nav-link {
    color: #fff !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-nav .nav-link {
    color: rgba(255,255,255,.5) !important;
}

#index-freshers-landing div.freshers-title-img {
    img {
        max-width: 100%;
    }
}

/* Setting a maximum boundary for this carousel makes sure the Slick library
doesn't behave weirdly on mobile. */
div.events-carousel {
    max-width: 100vw;
    width: 100%;
}

div.freshers-event-item {
    /* add space on top of items so that the active item glow isn't cut off */
    margin-top: 5px;
}

div.freshers-event-item.disabled {
    opacity: 0.2;
}

div.freshers-event-item.active {
    border: 1px solid #3cce5d;
    -webkit-box-shadow:0px 0px 4px 2px rgba(60, 206, 93, 0.6);
    -moz-box-shadow: 0px 0px 4px 2px rgba(60, 206, 93, 0.6);
    box-shadow: 0px 0px 4px 2px rgba(60, 206, 93, 0.6);
}

/* iFrames don't have aspect ratios so they can stretch or pull. We want to
keep them 16:9, so we use some bottom padding to force the aspect ratio.
https://faq.dailymotion.com/hc/en-us/articles/360022841393-How-to-preserve-the-player-aspect-ratio-on-a-responsive-page
*/
#index-freshers-iframewrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}

#index-freshers-iframewrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sigs__sig {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include media-desktop {
        flex-direction: row;
    }
    padding: 10px;

    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.87);
    background-color: #343a3f;

    &:hover {
        color: rgba(255, 255, 255, 1);
        background-color: #343a3f;
    }
}

.sigs__sigtext {
    text-align: center;

    @include media-desktop {
        text-align: left;
    }

}
