---
---

$img: "{{ site.baseurl }}/static/img/"

@import "partners"
@import "index-jumbotron"
@import "footer"
@import "nav"

body
    /* Background pattern from Subtle Patterns */
    background-image: url( {{ site.baseurl }}/static/img/crossword.png )

a
    transition: all 0.2s ease-in-out

// Community
.facebook-card-md > .fb-page.fb_iframe_widget
    margin-bottom: 1rem

// Needed for fullcalendar
.fc-scroller
    height: auto !important