---
---

$img: "{{ site.baseurl }}/static/img/";

@import "partners";
@import "index-events";
@import "footer";
@import "nav";
@import "community";
@import "post";
@import "sigs";
@import "team";
@import "rfs";

body {
    // background-color: #202124;
    // background-image: none !important;
    overflow-x: hidden;
    font-family:
        "Tomorrow",
        // Safari for macOS and iOS (San Francisco)
        -apple-system,
        // Chrome < 56 for macOS (San Francisco)
        BlinkMacSystemFont,
        // Windows
        "Segoe UI",
        // Android
        Roboto,
        // Basic web fallback
        "Helvetica Neue", Arial,
        // Linux
        "Noto Sans",
        "Liberation Sans",
        // Sans serif fallback
        sans-serif,
        // Emoji fonts
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.display-1,
.display-3,
.display-4 {
    font-weight: 300;
    line-height: 1.2;
    text-shadow: 0 0 7px #3cce5d;
    /* Reduce the opacity on light mode. Don't directly reduce the alpha on
    the font colour, since the text-shadow still needs to be hidden behind
    the text. */
    opacity: 0.87;
    font-family:
        "Rubik Glitch",
        "Outfit",
        // Safari for macOS and iOS (San Francisco)
        -apple-system,
        // Chrome < 56 for macOS (San Francisco)
        BlinkMacSystemFont,
        // Windows
        "Segoe UI",
        // Android
        Roboto,
        // Basic web fallback
        "Helvetica Neue", Arial,
        // Linux
        "Noto Sans",
        "Liberation Sans",
        // Sans serif fallback
        sans-serif,
        // Emoji fonts
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    @media (prefers-color-scheme: dark) {
        opacity: 1;
    }
}

.display-1 {
    @include font-size(6rem);
}

.display-3 {
    @include font-size(4.5rem);
}

.display-4 {
    @include font-size(3.5rem);
}

@media (prefers-color-scheme: dark) {
    .navbar-nav .active > .nav-link,
    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show,
    .navbar-nav .show > .nav-link {
        color: #fff !important;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    }

    .navbar-nav .nav-link {
        color: rgba(255,255,255,.5) !important;
    }
}

a {
    transition: all 0.2s ease-in-out;
}

/* Needed for fullcalendar */
.fc-scroller {
    height: auto !important;
}

.minutes-cell, .minutes-hidden-cell {
    width: 10rem;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.minutes-hidden-cell {
    height: 0;
}
