---
---

$img: "{{ site.baseurl }}/static/img/"

@import "partners"
@import "index-jumbotron"
@import "footer"
@import "nav"

body
    /* Background pattern from Subtle Patterns */
    background-image: url( {{ site.baseurl }}/static/img/crossword.png )

a
    transition: all 0.2s ease-in-out

// Community
.facebook-card-sm > .fb-page.fb_iframe_widget
    margin-bottom: 1rem

#community
    padding-top: 16px

    .btn-discord
        background-color: #7289DA
        border-color: #7289DA
        color: #fff
        white-space: initial

        &:hover
            background-color: #3f5ca8
            border-color: #3f5ca8

// Needed for fullcalendar
.fc-scroller
    height: auto !important