---
---

@import "partners"

a
    transition: all 0.2s ease-in-out

.navbar .nav-link
    position: relative
    &:before
        content: ""
        position: absolute
        left: 20%
        bottom: 0
        height: 4px
        background: #bdc1c4
        width: 60%
        -webkit-transition: all 0.2s ease-in-out
        transition: all 0.2s ease-in-out
        -webkit-transform: scaleX(0)
        -ms-transform: scaleX(0)
        transform: scaleX(0)
    
    &:hover:before
        -webkit-transform: scaleX(1)
        -ms-transform: scaleX(1)
        transform: scaleX(1)