#community

    .btn-facebook
        background-color: #4267b2
        border-color: #4267b2
        color: #fff
        white-space: initial

        &:hover
            background-color: #003d82
            border-color: #003d82

    .btn-discord
        background-color: #7289DA
        border-color: #7289DA
        color: #fff
        white-space: initial

        &:hover
            background-color: #3f5ca8
            border-color: #3f5ca8

.twitter-links 
    .header
        background-color: rgb(59, 148, 217)
        color: white
