#community

    .btn-facebook
        background-color: #4267b2
        border-color: #4267b2
        color: #fff
        white-space: initial

        &:hover
            background-color: #003d82
            border-color: #003d82

    .btn-discord
        background-color: #7289DA
        border-color: #7289DA
        color: #fff
        white-space: initial

        &:hover
            background-color: #3f5ca8
            border-color: #3f5ca8

    .btn-steam
        background-color: #2a3f5a
        border-color: #2a3f5a
        color: #fff
        white-space: initial

        &:hover
            background-color: #5aa9d6
            border-color: #5aa9d6

    .btn-betterinf
        color: #495057
        &:hover
            background-color: #f8f9fa
        &:active
            background-color: #e9ecef


.twitter-links 
    .header
        background-color: rgb(59, 148, 217)
        color: white

    .list-group-item > h5
        display: inline
