.partners
    margin-top: 20px
    display: flex
    flex-wrap: wrap
    flex-basis: 278px
    justify-content: space-around
    align-items: center
    align-content: space-between
    > a, img
        height: auto
        max-width: 278px
    > a
        margin: 2rem 1rem