@import 'utils'

.sigs__grid
    display: grid

    grid-gap: 2px

    // mobile: 3 rows, 2 cols
    grid-template-rows: 1fr 1fr 1fr
    grid-template-columns: 1fr 1fr
    
    // desktop: 2 rows, 3 cols
    @media (min-width: 1000px)
        grid-template-rows: 1fr 1fr 1fr 1fr
        grid-template-columns: 1fr 1fr

    // smaller mobile devices: 1 column, N rows
    @media (max-width: 1000px)
        grid-template-rows: repeat(1fr)
        grid-template-columns: 1fr




.sigs__img
    width: 100px
    height: 100px
    margin: 10px


.sigs__sig
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    @include media-desktop
        flex-direction: row
    padding: 10px
    
    text-decoration: none !important
    color: rgba(255, 255, 255, 0.87)
    background-color: #343a3f

    &:hover
        color: rgba(255, 255, 255, 1)


.sigs__sigtext
    text-align: center
    @include media-desktop
        text-align: left




