.sigint-logo-community
    border-radius: 50%
    padding-top: 0px
    width: 25%
    background-color: #333333
    margin-right: 10px
    max-width: 100px

// front page sigs horizontal nav
.frame
    width: 100%
    // height: 100%
    padding: 0
    .slidee
        margin: 0
        padding: 0
        height: 100%
        list-style: none
        li
            text-align: center
            float: left
            margin: 0 5px 0 0
            padding: 0
            // width: 250px
            // height: 100%
            .sigs-item
                text-align: center
                // margin-right: 1rem
                // margin-bottom: 1rem
                width: 200px
                height: 250px
                p
                    height: 50px
                .sig-img
                    width: 100px
                    background-color: #333
                    border-radius: 50%
                    padding: 10px
                    // margin: auto
                    // height: 80px
.scrollbar
    width: 100%
    height: 10px
    .handle
        // overriden if dynamicHandle: 1 */
        // width: 100px
        height: 100%
        background: #222
