<script>
    const ENDPOINT_BASE = '{{ site.data.settings.infball_endpoint }}';
    const ENDPOINT_TICKET = ENDPOINT_BASE + '/ticket';

    function showError(text) {
        const error = $("#infball-ticket #ticket-page-error");

        // Hide error
        if (text == null) {
            error.addClass('d-none');
            return;
        }

        error.removeClass('d-none');
        error.text(text);
    }

    function showLoading(state) {
        const ele = $("#infball-ticket #infball-loading")
        if (state) {
            ele.removeClass("d-none");
        } else {
            ele.addClass("d-none");
        }
    }

    function showSave(state) {
        const ele = $("#infball-ticket #infball-save")
        if (state) {
            ele.removeClass("d-none");
        } else {
            ele.addClass("d-none");
        }
    }

    function disableInputs() {
        $("#infball-ticket #fullname, #infball-ticket button, #infball-ticket #uun, #infball-ticket #email, #infball-ticket #over18, #infball-ticket input[name='mealRadio'], #infball-ticket textarea").attr('disabled', true);
    }

    function enableInputs() {
        $("#infball-ticket #fullname, #infball-ticket button, #infball-ticket #uun, #infball-ticket #email, #infball-ticket #over18, #infball-ticket input[name='mealRadio'], #infball-ticket textarea").attr('disabled', false);
        $("#infball-ticket .alwaysDisabled").attr("disabled", true);
    }

    function getOrderID() {
        let params = (new URL(location)).searchParams;
        return params.get('id');
    }

    function onSubmit(e) {
        e.preventDefault();

        const AuthToken = window.prompt("Please enter the authentication token from your email to make changes.");
        if (!AuthToken) {
            return;
        }

        const currentOwner = $("#current-owner-email").val();
        const ownerEmail = $("#email").val();

        if (currentOwner !== ownerEmail) {
            const confirm = window.confirm(`Are you sure you want to change the owner of your ticket to "${ownerEmail}". This will change your authentication code and send a new one to the new owner.`);
            if (!confirm) {
                return;
            }
        }

        const Email = $("#email").val();
        const FullName = $("#fullname").val();
        const UUN = $("#uun").val();
        const OrderID = getOrderID();
        const Over18 = $("#over18").is(":checked");
        const Meal = $("input[name='mealRadio']:checked").val();
        const SpecialReqs = $("#specialReqs").val();

        const data = {
            OrderID, AuthToken,
            Email, FullName, UUN,
            Meal, SpecialReqs,
            Over18,
        }

        showError(null);
        showSave(false);
        showLoading(true);
        disableInputs();

        $.ajax({
            url: ENDPOINT_TICKET,
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            error: function(resp, textStatus, errorThrown) {
                console.log("ENDPOINT_TICKET error", resp, textStatus, errorThrown);

                showSave(true);
                showLoading(false);
                enableInputs();

                if (resp.responseJSON) {
                    showError(resp.responseJSON.message);
                } else {
                    showError("Unknown error / network error.");
                }
            },
            success: function(data) {
                console.log("success", data);

                showSave(true);
                showLoading(false);
                enableInputs();

                window.alert("Details have been updated.");
                location.reload();
            },
            timeout: 60000
        });
    }

    const meals = ["1", "2", "3"];

    function updateFields(data) {
        const valid = meals.includes(data.meal);
        if (!valid) {
            console.log(data);
            showError("Invalid meal combination sent from the server.");
            return;
        }

        $(`[name="mealRadio"][value="${data.meal}"]`).attr('checked', true);

        $("#purchaser-email").val(data.purchaser_email);
        $("#purchaser-name").val(data.purchaser_name);
        $("#email").val(data.owner_email);
        $("#current-owner-email").val(data.owner_email);
        $("#fullname").val(data.owner_name);
        $("#uun").val(data.uun);
        $("#over18").attr('checked', data.over18 === "true");
        $("#specialReqs").val(data.special_requests);
    }
    
    $(() => {
        // Disable our inputs
        disableInputs();

       // Disable everything
        $("#infball-ticket input, #infball-ticket button, #infball-ticket textarea").attr('disabled', true);

        const orderID = getOrderID();
        if (orderID == null) {
            showError("A ticket ID was not provided. Email infball@comp-soc.com for assistance.");

            showLoading(false);
            showSave(false);
            return;
        }

        $.ajax({
            url: ENDPOINT_TICKET,
            type: 'GET',
            data: {
                id: orderID,
            },
            error: function(resp, textStatus, errorThrown) {
                console.log("error", resp, textStatus);

                if (resp.responseJSON) {
                    showError(resp.responseJSON.message);
                } else {
                    showError("Unknown error / network error.", true);
                }

                showLoading(false);
                showSave(true);
            },
            success: function(data) {
                updateFields(data.data);
                showLoading(false);
                showSave(true);
                enableInputs();
            },
        });

        $("#infball-ticket-form").on("submit", onSubmit);
    });
</script>
