---
author: himmelmaus
title: "Manifestos for October EGM"
manifestos:
    - title: Secretary
      people:
        - name: Mo Javad, 2nd year
          url: https://drive.google.com/file/d/0BwDda2PoGbNNNWstNWgtRnU2OFJHZUtUZThqVERHNGc0dU9F/view?usp=sharing
        - name: Bora Mert Alper, 2nd year
          url: https://drive.google.com/file/d/1lG3TjTQRlbWjPBgt0LKW93A0m9KxbW5a/view?usp=sharing

    - title: Technical Secretary
      people:
        - name: Patrick Kage, 2nd year
          url: https://drive.google.com/file/d/0BwDda2PoGbNNR09TU21Qc3hLcjBLY2lxX2hKUFBncjRUNlhZ/view?usp=sharing
        - name: Ege Elgun, 2nd year
          url: https://drive.google.com/file/d/0BwDda2PoGbNNOFl3eERKa1MzZUtwU05yUXVVV3JxYVF5TWZz/view?usp=sharing
        - name: Samuel Macleod, 2nd year
          url: https://drive.google.com/file/d/0BwDda2PoGbNNaDhCaHNsLXlWb0YxX2lxdGpoRFVjSDd3S0hN/view?usp=sharing

    - title: Social Secretary
      people:
        - name: Tony Duggan, 3rd year
          url: https://drive.google.com/file/d/0BwDda2PoGbNNWl9abTJmNTItSS1Kd3VUdWZncTFaYnhwaldB/view?usp=sharing
        - name: Azam Khan, 2nd year
          url: https://drive.google.com/file/d/0BwDda2PoGbNNMXhqZV9SdXFqVndUa2M0YTZKRUt2NUxHcy1J/view?usp=sharing
        - name: Raman Goyal, 2nd year
          url: https://drive.google.com/file/d/0BwDda2PoGbNNeTZGWWNORnlqb3Y2RXRqNWI2Um5wc1NuRUhr/view?usp=sharing

    - title: First Year Rep.
      people:
        - name: Kyle Cotton
          url: https://drive.google.com/file/d/0BwDda2PoGbNNUlB2LTdaVXA0SklLZmpmOEl5VU5VSjhnLS1B/view?usp=sharing
        - name: Jack Watt
          url: https://drive.google.com/file/d/0BwDda2PoGbNNX1BibHNoWkdpV1M3S0ZlSkxVdzNFa295a2Iw/view?usp=sharing


    - title: Fourth Year Rep.
      people:
        - name: No manifestos here! Why don't you send one in and change that?
    
---

<p>
On Wednesday the 17th of October we have our Extraordinary General Meeting (EGM)! Mark yourself as going <a href=https://www.facebook.com/events/2191698291111220/>on Facebook</a> so we know how many to expect and let us know if you have any special requirements! You can view the Manifestos here!
</p>



<p>
We would ordinarily just be electing a first year rep. and any positions that weren't filled in our March AGM, however due to some resignations we are also reelecting our Secretary, TechSec, and SocialSec. Once you've looked over our <a href = "/elections">positions guidelines</a> take a look at the manifestos of who's standing below!
</p>
<p>
Want to stand for something but haven't submitted a manifesto? Not to fear! You can send a manifesto to our <a href="mailto:vicepresident@comp-soc.com">Vice President</a> up until 3pm on Wednesday the 16th of October and we'll post it here as soon as we get it! Just take a look over our <a href="/elections">election guidelines</a> to decide if you want to stand! If you don't make the manifesto deadline, you can still stand on the night.
</p>
<p>
If you want to vote in the EGM or stand for a position you need to <b><a href="https://www.eusa.ed.ac.uk/activities/societies/society/compsoc/">make sure that you're a member</a></b> or you won't be able to do so.
</p>

<table>
    {% for role in page.manifestos %}

    <tr><td colspan=2><strong>{{ role.title }}</strong></td></tr>
    
    {% for person in role.people %}
    <tr>
        <td>{{ person.name }} </td>
        {% if person.url %}
        <td>
          <a href="{{ person.url }}" target=_blank class="btn btn-info btn-sm">view manifesto</a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    {% endfor %}
</table>
<br>
<p>
Make sure to take time to read these manifestos, but keep an open mind! Vote based on manifestos and speeches for who you think would be best for the job! As always, you are also able to vote for Ron - reopen nominations.
</p>
<p>
See you all on Wednesday, and remember, CompSoc &lt;3 You!
</p>
