---
title: "March AGM Manifestos"
author: rokasg
roles:
    - title: President
      people:
        - name: Kyle Cotton
          url: https://drive.google.com/a/comp-soc.com/file/d/1vOf7ZJNz93psChjF4QR1NceT0s-2MJL8/view?usp=sharing  
        - name: Maksymilian Mozolewski
          url: https://drive.google.com/a/comp-soc.com/file/d/1NYJ7ex3w_Xwd8u7myHnNpqbr3OFIQ_QO/view?usp=sharing
        - name: Jorge Perry
          url: https://drive.google.com/a/comp-soc.com/file/d/1WlYP-873H0GBqIl1xjDWXdFkpjPbv83u/view?usp=sharing
    - title: Vice-President
      people:
        - name: Nobody has run for this position. You could stand for election!
    - title: Secretary
      people:
        - name: Lars Thalian Morstad
          url: https://drive.google.com/a/comp-soc.com/file/d/13zWj5qeaimygoMiFRvSqMb3qZn3CmlKL/view?usp=sharing
    - title: Treasurer
      people:
        - name: Sadiq Baidani
          url: https://drive.google.com/a/comp-soc.com/file/d/10wCTPIWnH1TwVFltjgjwJCkw4Sj8wgJ1/view?usp=sharing
        - name: Raman Goyal
          url: https://drive.google.com/a/comp-soc.com/file/d/1je3cO6CBQr9QuGiGkkIX59KaBlbg31Mb/view?usp=sharing
    - title: HackSec
      people:
        - name: Nobody has run for this position. You could stand for election!
    - title: TechSec
      people:
        - name: Patrick Kage
          url: https://drive.google.com/a/comp-soc.com/file/d/1S0b8pLB_JIXAlSXcaxc0UfkJJEAlh0n9/view?usp=sharing
    - title: SocialSec
      people:
        - name: Daniel Kirkman
          url: https://drive.google.com/a/comp-soc.com/file/d/1wfaHhf1exCxhnQ1XdWZHKPpkrvkTSO_X/view?usp=sharing
    - title: 2nd Year Rep
      people:
        - name: Martin Lewis
          url: https://drive.google.com/a/comp-soc.com/file/d/1M1kQdrmncb7pPM2ninzwznnvDOuTqteP/view?usp=sharing
    - title: 3rd Year Rep
      people:
        - name: Rokas Gudavicius
          url: https://drive.google.com/a/comp-soc.com/file/d/1iYv0boxdMsG2ziDPgiVcPDPdRDp3bj0V/view?usp=sharing
    - title: Final Year Rep
      people:
        - name: Nobody has run for this position. You could stand for election!
    - title: Postgraduate Rep
      people:
        - name: Nobody has run for this position. You could stand for election!
    - title: Old Person Rep
      people:
        - name: Nobody has run for this position. You could stand for election!
---       

<p>On Wednesday at 4pm we have our monthly Student Tech Meetup as well as our Annual General Meeting.
Mark yourself as going <a href="https://www.facebook.com/events/2546058098799848/">on Facebook</a> so we have enough food for you!
</p>

<p>
  If you haven't submitted a manifesto and would still like to run for election, please read <a href="/elections">the elections page</a>.
</p>

<table>
{% for role in page.roles %}

<tr><td colspan=2><strong>{{ role.title }}</strong></td></tr>

{% for person in role.people %}

<tr>
  <td>{{ person.name }} {% if person.url %}</td>
  <td>
    <a href="{{ person.url }}" target=_blank class="btn btn-info btn-sm">view manifesto</a>{% endif %}
  </td>
</tr>

{% endfor %}
{% endfor %}
</table>

<br>
<p>
  We hope you think carefully about who you choose to elect — please vote based on manifestos and speeches! Note that you may also vote for Ron (reopen nominations) for all positions.
</p>
<p>
  Election candidates - please remember that if you are running for President, VP, Secretary or Treasurer, your speech may be up to 2 minutes. Other roles have up to 1 minute. If you haven't bought membership yet, do that now.
</p>

<p>See you then!</p>

<p>CompSoc &lt;3 You!</p>
