---
title: "EGM 2019"
author: Dee Yeum 
roles:
    - title: First year Representative 
      people:
        - name: Tudor Finaru
          url:  
        - name: Irina Gubaciova 
          url:  
        - name: Alexandra Purcărea 
          url:  
    - title: Graphic Designer 
      people:
        - name: No entry
---       

<p>
  CompSoc will be electing new positions in the next <a href="https://www.facebook.com/events/396779284353051/")>EGM</a> (6PM 16th October 2019 at AT LT1). The positions available are as follows:
</p>

<ul>
  <li><strong>1st Year Representative</strong>:
    <ul>
      <li>Responsible for communication between the Inf1 cohort and the society, and promotes events to the year.</li>
      <li>General involvement with organising society events. One may also choose to get involved with any sub-committees such as InfBall, Hack the Burgh, and more.</li>
    </ul>
  </li>
  <li><strong>Graphic Designer</strong> (TBC by the constitutional amendment):
    <ul>
      <li>Responsible for any graphic designs required for the society: Event banner, merchandise etc</li>
    </ul>
  </li>
</ul> 

<table>
{% for role in page.roles %}

<tr><td colspan=2><strong>{{ role.title }}</strong></td></tr>

{% for person in role.people %}

<tr>
  <td>{{ person.name }} {% if person.url %}</td>
  <td>
    <a href="{{ person.url }}" target=_blank class="btn btn-info btn-sm">view manifesto</a>{% endif %}
  </td>
</tr>

{% endfor %}
{% endfor %}
</table>

<br>

<p>Running for a position?</p>
<ul>
  <li>Send vicepresident@comp-soc.com your manifesto (PDF of max 200 words) <strong>by the end of Tuesday 15th October 2019</strong></li>
  <li><a href="/join">Make sure you have CompSoc membership.</a> You cannot run for election without membership.</li>
  <li>Prepare a 1 minute long speech (and a portfolio in the case of graphic designer)</li>
</ul>

<p>There will also be votes for any constitutional amendments required by EUSA, including the new position of Graphic Designer, can be found <a href="https://github.com/compsoc-edinburgh/constitution/pulls">here</a></p>

<p>CompSoc &lt;3 You</p>