---
title: "EGM Manifestos"
author: Tudor Finaru
roles:
    - title: First Year Representative
      people:
        - name: Yuto Takano
          url: https://drive.google.com/file/d/18s7AN97WecT1Wp5a0V4ROXsJ-R5omjWp/view?usp=sharing
        - name: Kyle Yun
          url: https://drive.google.com/file/d/1JLvKGzeP9t6dz0Xz4KYSOOEv56lrAeu3/view?usp=sharing
        - name: Aryan Shah
          url: https://drive.google.com/file/d/1y0Ov8g_0Yib1zoDUu7w4ETUN3FW9oLtV/view?usp=sharing
        - name: Artemis Livingstone
          url: https://drive.google.com/file/d/1HvyHOvWOnbbFdIKUnPbcwXjII5sYBB54/view?usp=sharing
        - name: Aden Haussmann
          url: https://drive.google.com/file/d/1giBQeWWU7LQQe25CUNVea1ElqwSO7pWc/view?usp=sharing
    - title: Treasurer
      people:
        - name: Anabel Yong
          url: https://drive.google.com/file/d/1-3jp4c4WPDuOh2kvvulH3Lf486zasSb9/view?usp=sharing
    
---       

<p>On Friday at 6pm we have our monthly Student Tech Meetup as well as our EGM.
</p>

<table>
{% for role in page.roles %}

<tr><td colspan=2><strong>{{ role.title }}</strong></td></tr>

{% for person in role.people %}

<tr>
  <td>{{ person.name }} {% if person.url %}</td>
  <td>
    <a href="{{ person.url }}" target=_blank class="btn btn-info btn-sm">view manifesto</a>{% endif %}
  </td>
</tr>

{% endfor %}
{% endfor %}
</table>

<br>
<p>
  We hope you think carefully about who you choose to elect — please vote based on manifestos and speeches! Note that you may also vote for Ron (reopen nominations) for all positions.
</p>

<p>See you then!</p>

<p>CompSoc &lt;3 You!</p>
