---
title: "Manifestos for 2024 April AGM"
author: VinceKaj
excerpt_separator: "<!--See More-->"
roles:
    - title: President
      people:
      - name: Vincent Danys
        url: https://drive.google.com/file/d/1Hz3mnv5PvPAbP3ot3sv7E2UFFSYB-Ug8/view?usp=sharing
    - title: Vice-President
      people: 
      - name: Akrit Ghimire
        url: https://drive.google.com/file/d/1W0d2S2EhC1yU-guPYMmcG4IaJf4CF9mW/view?usp=sharing
      - name: Marton Nemeth
        url: https://drive.google.com/file/d/1W-MY2HlQ0Pea-erbyIyeVFKa0SXKCq-H/view?usp=sharing
    - title: Secretary
      people:
      - name: Godfrey Antomarlin
        url: https://drive.google.com/file/d/1ClbHVKzbjTjzYlo4SxSevkeDrpzZUc93/view?usp=sharing
      - name: Joao-Pedro Bastos
        url: https://drive.google.com/file/d/1cUyUcx7kEoyso_WiBh03pj_v_jRuBoXd/view?usp=sharing
    - title: Treasurer
      people:
      - name: Adoniah Olojugba
        url: https://drive.google.com/file/d/1mC3zKMhiUL-1m64oYx2wv1BECrZeoh65/view?usp=sharing
      - name: Elisa
        url: https://drive.google.com/file/d/1cGYDqYgbTMDx90yWsPHil__cNil9DiQ4/view?usp=sharing
    - title: Graphic Designer
      people: 
      - name: Lewis Simpson
        url: https://drive.google.com/file/d/13eBw5t-LIpoW-D7cIdI5oTlH-SmJ6yDF/view?usp=sharing
    - title: TechSec
      people:
      - name: Zheng Wei (Chewy) Chew
        url: https://drive.google.com/file/d/1a7Lk9w0KMULk78KT6gfESzkt3uxdbLTO/view?usp=sharing
      - name: Caterina (Cat) Mammola
        url: https://drive.google.com/file/d/1p7ugeW-2YgYHQTzyeFzRBjsn4VQe2m8u/view?usp=sharing
    - title: SocialSec
      people:
      - name: Fergus White
        url: https://drive.google.com/file/d/1tYmt877iqJBP8lPOkHeJg4yKcu0tr6Ay/view?usp=sharing
    - title: Social Media Officer
      people:
      - name: Agam Cohen
        url: https://drive.google.com/file/d/15RFiqtWRk9VCVMfL9mXIfTkUd3MUWo4G/view?usp=sharing
      - name: Tallulah Thompson
        url: https://drive.google.com/file/d/1tjXKI-v1BXCQba4of2NmzwtBzHuiNQuv/view?usp=sharing
    - title: 2nd Year Rep
      people:
      - name: Lucas Bruckbauer
        url: https://drive.google.com/file/d/1cgunoPfHhLL6Z837upYswLlPDhrw-a-Y/view?usp=sharing
      - name: Ritvik Gupta
        url: https://drive.google.com/file/d/1iJvCyvvdwveQ9GrJwOugO-622ndD4rGG/view?usp=sharing
    - title: 3rd Year Rep
      people:
      - name: Arindam Bag
        url: https://drive.google.com/file/d/14J5kxWG7h9GJZLBShmcKSVLflZdESqaH/view?usp=sharing
    - title: 4th Year Rep
      people:
      - name: Tomas Maillo
        url: https://drive.google.com/file/d/1CNNZjuj4fOvXEcqoypWBUw8JCGtVhykp/view?usp=sharing
    - title: Old Person Rep
      people:
      - name: Krzysztof Grykiel
        url: https://drive.google.com/file/d/1Vr5XY6XSGG0dF4LsQljYQ2UtqL-riaAp/view?usp=sharing
    - title: EDI Rep
      people:
      - name: Charlotte Ausel
        url: https://drive.google.com/file/d/1dECVP7sKY175xs4ZMDOjvEc5QSwXBD3Z/view?usp=sharing
---

<h2>Election Details</h2>
<p>
  Our AGM is happening on April 3rd, at <time datetime="2024-04-03 18:00Z">18:00</time> in **G.03** of the Informatics Forum. Yes, this is a different room, G.07 wasn't available. It's at the back-right as you enter. You won't miss on the day!
</p>
<p>
    If you want to vote in the AGM, you need to <b><a href="/join" title="Click to go to the EUSA CompSoc membership page.">make sure you have CompSoc membership</a></b>.
</p>
<p>
    We also allow people to run on the night, if you did not have time to create manifestos.
</p>
<!--See More-->
<table>
{% for role in page.roles %}

<tr><td colspan=2 style="padding-top:1rem"><strong>{{ role.title }}</strong></td></tr>

{% for person in role.people %}

<tr>
  <td>{{ person.name }}</td>
  <td>
    {% if person.url %}
    <a href="{{ person.url }}" target=_blank class="btn btn-info btn-sm">view manifesto</a>
    {% else %}
    <a href="#" target=_blank aria-disabled="true" class="disabled btn btn-info btn-sm">no manifesto has been submitted</a>
    {% endif %}
  </td>
</tr>

{% endfor %}
{% endfor %}
</table>

<br>
<p>
  We hope you think carefully about who you choose to elect tonight — please vote based on manifestos and speeches! Note that you may also vote for RON (reopen nominations) for all positions. You also need EUSA CompSoc membership.
</p>
<p>
  Election candidates - please remember that if you are running for President, Secretary or Treasurer, your speech may be up to 2 minutes. Other roles have up to 1 minute. If you haven't gotten membership yet, <b>do that now</b>!
</p>

<h2>Constitutional Amendments</h2>

<p>We also have the constitutional amendment to vote on:</p>

<ul>
  <li><a href="https://github.com/compsoc-edinburgh/constitution/pull/42">Constitution changes</a></li>
</ul>

<p>See you on Wednesday,</p>

<p>CompSoc &lt;3 You!</p>
