<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="text-center">
            <h1>Informatics Ball</h1>
            <h2><a href="https://goo.gl/maps/Vt1o86jNh962">The Jam House</a> &Implies; Black Tie<h2>
            <h3>8th April 2018 - 7pm till late</h3>
            {% if infball_payment %}
                <small>Continue reading for more details about what's available.</small>
            {% else %}
                <small>Visit <a href="/infbnall">main page</a> for general information.</small>
            {% endif %}
        </div>
    </div>
</div>

