<!doctype html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">

    {% include head.html %}

    <body id="top">
        <div class="container">
            {% include nav.html %}
        </div>

        <div class="container">
            {{ content }}
        </div>

        {% include footer.html %}
        
        {% capture eventsPage %}{{ site.baseurl }}/events{% endcapture %}
        {% if page.url == eventsPage %}
            {% include event-calendar.html %}
        {% endif %}
    </body>

</html>